
{% include "shop_header.html" %}

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="/static/assets/img/shop-image3.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 style="font-family: 'monospace', monospace; font-size: 40px; color: #f1efef; font-weight: bold; ">
              Welcome, Shop Owners!!       
            </h2>
            <p>partner with us to expand your reach and deliver excellence to your customers, fast and hassle-free!</p>
            <!-- <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p> -->
          </div>
          <!-- <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="sign-up-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div> -->
        </div>
      </div>

    </section><!-- /Hero Section -->



  


    {% include "footer.html" %}